body {
  background-color: #37392e;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#boat {
  margin-top: 1vh;
  display: none;
}
#link {
  display: none;
}
#text {
  display: flex;
  flex-direction: column;
}
#oh {
  color: #fdb50d;
  font-size: 2em;
  margin-top: -0.5vh;
}
#sorry {
  color: rgb(253, 253, 179);
  margin-top: -2vh;
  margin-bottom: 2vh;
  font-size: 1.5em;
}
#try {
  display: block;
  color: #37392e;
  text-decoration: none;
  font-size: 32px;
  background-color: #f88b15;
  border: #37392e 5px solid;
  border-radius: 50px;
  margin-top: 2vh;
  padding: 10px 10px;
  margin-right: 20vw;
  margin-left: 20vw;
  text-align: center;
}
#try:hover {
  background-color: #fdb50d;
}
@media (min-width: 550px) {
  #body {
  margin-top: 7vh;
}
  #boat {
    display: inline;
  }
  #boatMobile {
    display: none;
  }
  #sorry{
    margin-top: 0vh;
  }
  #oh {
    margin-top: 5vh;
  }
  #try {
    margin-right: 35vw;
    margin-left: 35vw;
  }
}
